/* styling for nave bar on register page*/
body{
    background-color: #E4E7F0;
}
.container{
    width:100%;
}
.container-padding{
    padding:50px;
}

.container-bRadius{
    border-radius: 10px;
}

.register-note{
    font-size: 20px;
    opacity: 0.6;
}
