<!--Extended base.html-->
{%extends 'home/base.html'%}

<!-- Loded static css and crispy form-->
{% load crispy_forms_tags %}
{% load static %}

<!-- Link to css file for login.html-->
{% block css %}
    <link rel="stylesheet" href={% static 'user/login.css' %}>
{% endblock css %}

{% block content %}
<div class="container">

        <div class="row row_colour row_padding">
            <div class="col-md-6 col-xs-6 form_container">
                    <h4 class="login_quote">Log in to Blog</h4>
                    <form method="POST">
                            {% csrf_token%}
                            {{form |crispy }}
                            <button class="btn btn-primary btn-lg btn-block">Log In</button>
                    </form>
                    <hr class="hr-1" data-content="or"/>
                    
                    <div class="create_new_account_container">
                            <a  class='btn btn-success' href="{% url 'user_registration' %}">Create New Accout</a>
                    </div>

                    <div class="forgot_password_container">
                        <a class="link " href="#">Forgotten account?</a> 
                    </div>
            </div>
        </div>


</div>

{% endblock %}