<!--Extended base.html-->
{%extends 'home/base.html'%}

<!-- Loded static css and crispy form-->
{% load crispy_forms_tags %}
{% load static %}

<!-- Link to css file for login.html-->
{% block css %}
    <link rel="stylesheet" href={% static 'user/login.css' %}>
{% endblock css %}

{% block content %}
<div class="container">
    <form method="POST">
        <div class="login-container">
                {% csrf_token%}
                {{form |crispy }}
        </div>
    </form>
</div>


{% endblock %}